<h2>
  Episodes de Rick et Morty
</h2>

<section class="grid-list">
  @for(episode of episodesList(); track idx; let idx = $index){
    <app-episode-item [episode]="episode"></app-episode-item>
  }
</section>

<section id="pagination" class="centered horizontal-list">
  <button
    (click)="onPageChange(page() - 1)"
    [disabled]="page() === 1"
  >
    Précédent
  </button>
  <span>
    Page {{ page() }} sur {{ infos().pages }} |
    {{ infos().count }} épisodes
  </span>
  <button
    (click)="onPageChange(page() + 1)"
    [disabled]="page() === infos().pages"
  >
    Suivant
  </button>
</section>
