.card {
  width: 30dvw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

@media (max-width: 768px) {
  .card {
    width: 90vw;
  }
}
