<div class="card" (click)="onShowEpisode(episode.id)">
  <h3 class="card-title">
    {{episode.episode}} - {{ episode.name }}
  </h3>
  <p class="card-subtitle">
    <small>Sorti le {{ episode.air_date | date: 'dd/MM/YYYY' }}</small>
  </p>

  <div class="characters-list">
    @for(character of episode.characters.slice(0, 7); track idx; let idx = $index) {
      <img
        class="card-image"
        ngSrc="https://rickandmortyapi.com/api/character/avatar/{{character.split('/')[5]}}.jpeg"
        [alt]="character"
        height="40"
        width="40"
      />
    }
    @if (episode.characters.length > 7) {
      <span class="card-image no-image">
        +{{ episode.characters.length - 7 }}
      </span>
    }
  </div>

</div>
